<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Shoes</title>
    </head>
    <body>
        {% block body %}
            <h2>Shoe Store</h2>
            <a href="/view_stores"><button type="button" name="button1">View Stores</button></a><br>
            <a href="/view_brands"><button type="button" name="button2">View Brands</button></a>
        {% endblock %}
    </body>
</html>
