{% extends 'index.html.twig' %}

{% block body %}
<h1>Stores</h1>
<a href="/"><button type="button" name="button" class="btn">Home</button></a>
<form action="/add_store" method="post">
    <label for="name">Enter Store Name</label>
    <input required type="text" name="name" value="">

    <button type="submit" name="button" class="btn">Add Store</button>
</form>
{% if stores != null %}
    {% for store in stores %}
        <h5>{{store.getName}}</h5>
        <div class="row">
            <div class="col-xs-1">
                <a href="/edit_store/{{store.getid}}"><button type="button" class="btn" name="button">Edit</button></a>
            </div>
            <div class="col-xs-1">
                   <form action="/delete_store/{{ store.getId }}" method="post">
                       <input name="_method" type="hidden" value="delete">
                       <button class="btn btn-danger" type="submit">
                           <span class="glyphicon glyphicon-trash"></span>
                           Delete
                       </button>
                   </form>
               </div>

        </div>


    {% endfor %}
{% else %}
    <p>There are no stores</p>
{% endif %}
{% endblock %}
